body {
    margin:0;
    padding:0;
    height:100%;
    background-color:#0083dd;
}

.table {
    display: table;
    margin: 0 auto;
}

table#stream {
    margin-top: 50px;
}

li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul#horizontal-list {
    min-width: 696px;
    list-style: none;
}

ul#horizontal-list li {
    display: inline;
}

.container {
    min-height:100%;
    position:relative;
}
.header {
    padding:10px;
}
.body {
    padding: 10px 10px 60px;
}
.footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:auto;
}

.headerBreak {
    width: 100%;
    height: 0px;
    border-bottom: 5px solid #ffffff;
}

.center {
    margin: auto;
    width: 50%;
}

.footer img {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    width: 55px;
    height: 55px;
    margin-bottom: 10px;
}